<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Management Application - Admin</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/sb-admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/sb-admin/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link th:href="@{/sb-admin/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/sb-admin/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/sb-admin/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/sb-admin/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" >

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Project Management Application</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            	<li>Logged in user: 
            		<b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
            	</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
						  	<a th:href="@{/logout}" ><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a th:href="@{/}" href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/users}" href="/users"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/timestamps}" href="/timestamps"><i class="fa fa-calendar fa-fw"></i> Timestamps</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/projects}" href="/projects"><i class="fa fa-area-chart fa-fw"></i> Projects</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/tasks}" href="/tasks"><i class="fa fa-check fa-fw"></i> Tasks</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="'Admin portal - ' + ${user.name} + ' ' + ${user.surname}" ></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Edit User
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form th:action="@{/admin/editUser}" method="post" role="form">
	                            <fieldset>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Name" name="name" type="text" th:value="${user.name}" required="required">
	                                </div>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Surname" name="surname" type="text"  th:value="${user.surname}">
	                                </div>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Email" name="email" type="text"  th:value="${user.email}">
	                                </div>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Username" name="username" type="text"  th:value="${user.username}" required="required">
	                                </div>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Password" name="password" type="text"  th:value="${user.password}" required="required">
	                                </div> 
	                                <div class="form-group">
	                                	<select name="roles">
	                                		<option th:value="ROLE_ADMIN" th:text="ROLE_ADMIN" th:selected="${'ROLE_ADMIN' == user.roles}"></option>
	                                		<option th:value="ROLE_MANAGER" th:text="ROLE_MANAGER" th:selected="${'ROLE_MANAGER' == user.roles}"></option>
	                                		<option th:value="ROLE_DEVELOPER" th:text="ROLE_DEVELOPER" th:selected="${'ROLE_DEVELOPER' == user.roles}"></option>
	                                	</select>
	                                </div>
	                                <input name="enabled" type="hidden"  th:value="${user.enabled}">
	                                <input name="id" type="hidden"  th:value="${user.id}">
	                                <input type="submit" class="btn btn-success" value="Save"/>
	                                <a th:href="@{/admin/users}" class="btn btn-default">Cancel</a>
	                            </fieldset>
                        	</form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tasks
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-projects">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="task : ${tasks}">
                                        <td th:text="${task.id}">1</td>
                                        <td th:text="${task.description}">John</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/sb-admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/sb-admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/sb-admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/sb-admin/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/sb-admin/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-projects').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>