<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        
        
    </head>
    <body>
        <h1>Hello world!</h1>
        
        <table>
        	<tr th:each="project : ${projects}">
	        	<td th:text="${project.id}">1</td>
	        	<td th:text="${project.name}">Project name ...</td>
	   		</tr>
        </table>

    </body>
</html>